@page "/contracts"
@attribute [Authorize]

@if (Response?.Contracts?.Any() == false)
{
  @RedirectToCreateContract()
}

@if (Response?.Contracts?.Any() == true)
{
  <div class="d-flex gap-10 flex-wrap">
    @foreach (var contract in Response.Contracts)
    {
      <MudCard Elevation="@(contract.IsCurrent ? 10 : 3)">
        <MudCardHeader>
          <CardHeaderContent>
            <MudText Typo="Typo.h6">@contract.Name</MudText>
          </CardHeaderContent>
        </MudCardHeader>
        <MudCardContent>
          <MudText>@contract.Employer</MudText>
          <MudText Typo="Typo.body2">Hours per week: @contract.HoursPerWeek</MudText>
          </MudCardContent>
          <MudCardActions>
            <MudButton StartIcon="@Icons.Material.Filled.Edit" Variant="Variant.Text" Color="Color.Primary" Size="Size.Small" Href="@($"contracts/{contract.Id}")">Read More</MudButton>
          </MudCardActions>
        </MudCard>
    }
  </div>

  <div class="fixed-add-button">
    <MudFab Color="Color.Secondary" Icon="@Icons.Material.Filled.Add" Href="contracts/add"></MudFab>
  </div>
}



