@page "/contracts/add"
@attribute [Authorize]

<MudText Typo="Typo.h4" Class="mb-5">New Contract</MudText>

<MudPaper Class="pa-6" Elevation="4">

  <EditForm class="d-flex flex-column gap-6" Model="@Model" OnValidSubmit="@HandleValidSubmitAsync">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <MudTextField Label="Name" @bind-Value="@Model.Name" />
    <MudTextField Label="Employer" @bind-Value="@Model.Employer" />
    <MudNumericField Label="Contracted hours per week" @bind-Value="@Model.HoursPerWeek" Min="0" Max="40" />
    <MudCheckBox Label="Is currently active contract" @bind-Checked="@Model.IsCurrent" />

    <div>
      <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Add" Color="Color.Primary">Add Contract</MudButton>
    </div>
  </EditForm>

</MudPaper>


