@page "/blankWorkday"
@using global::MediatR
@using WorkTimer.MediatR
@using WorkTimer.Domain.Models
@inject IMediator Mediator
@inject NavigationManager Navi;
@attribute [Authorize]

<MudText Typo="Typo.h4">Create blank Workday</MudText>

<EditForm class="d-flex flex-column gap-6" Model="@Model" OnValidSubmit="@HandleValidSubmitAsync">
  <DataAnnotationsValidator />
  <ValidationSummary />

  <div class="d-flex flex-row gap-6" >
    <MudDatePicker Editable="true" Mask="@(new DateMask("dd.MM.yyyy"))" DateFormat="dd.MM.yyyy" @bind-Value="Model.Date" Label="Date"></MudDatePicker>

    <MudSelect T="WorkDayType" Label="Work day type" @bind-Value="Model.WorkDayType">
      @foreach (var workdayType in WorkDayTypes)
      {
        <MudSelectItem Value="@workdayType">@workdayType.ToString()</MudSelectItem>
      }
    </MudSelect>
  </div>

  <div>
    <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled">Create</MudButton>
  </div>
</EditForm>

@code {

  public CreateBlankWorkDayCommand Model { get; set; } = new(DateTime.Today.AddDays(1));

  public WorkDayType[] WorkDayTypes { get; set; } = Enum.GetValues(typeof(WorkDayType)).Cast<WorkDayType>().ToArray();

  private async Task HandleValidSubmitAsync()
  {
    var response = await Mediator.Send(Model);

    Navi.NavigateTo($"workday/{response.WorkDay.Id}");
  }
}
