@using WorkTimer.Blazor.Services
@inject TokenProvider TokenProvider

<AuthorizeView>
  <Authorized>
    <div>
      <MudNavLink Href="Identity/Account/Manage" Icon="@Icons.Material.Filled.Person" IconColor="Color.Inherit">Hello, @context.User.Identity.Name!</MudNavLink>
    </div>
    <form method="post" action="/Identity/Account/Logout">
      <MudButton ButtonType="ButtonType.Submit" StartIcon="@Icons.Material.Filled.Logout" IconColor="Color.Inherit">Log out</MudButton>
      <input name="__RequestVerificationToken" type="hidden" value="@TokenProvider.XsrfToken" />
    </form>
  </Authorized>
  <NotAuthorized>
    <MudNavLink Href="Identity/Account/Register" Icon="@Icons.Material.Filled.AppRegistration" IconColor="Color.Inherit">Register</MudNavLink>
    <MudNavLink Href="Identity/Account/Login" Icon="@Icons.Material.Filled.Login" IconColor="Color.Inherit">Log in</MudNavLink>
  </NotAuthorized>
</AuthorizeView>
