@page "/workday/{WorkDayId:int}/workperiod/{WorkingPeriodId:int}"
@attribute [Authorize]

<h1>Edit work period @(Model.WorkingPeriod.StartTime.ToString())@GetEndTimeForTitle()</h1>

<div>
  <div>
    <EditForm Model="@Model.WorkingPeriod" OnValidSubmit="HandleValidSubmitAsync">
      <DataAnnotationsValidator />
      <ValidationSummary />

      <div class="">
        <div class="d-flex flex-row gap-4">
            <MudDatePicker Label="Start Date" Mask="@(new DateMask("dd.MM.yyyy"))" DateFormat="dd.MM.yyyy" @bind-Date="Model.StartDate" />
            <MudTimePicker Label="Start Time" Editable="true" @bind-Time="Model.StartTime" />
        </div>

        <div class="d-flex flex-row gap-4">
          <MudDatePicker Label="End Date" Mask="@(new DateMask("dd.MM.yyyy"))" DateFormat="dd.MM.yyyy" @bind-Date="Model.EndDate" />
          <MudTimePicker Label="End Time" Editable="true" @bind-Time="Model.EndTime" />
        </div>
      </div>

      <div class="">
        <MudTextField Label="Comment" Lines="10" Class="form-control w-100" @bind-Value="Model.WorkingPeriod.Comment"></MudTextField>
      </div>

      <MudButton Class="mt-4" ButtonType="ButtonType.Submit" Variant="Variant.Filled">Save</MudButton>
    </EditForm>
  </div>
    <div class="fixed-delete-button">
      <MudFab Color="Color.Secondary" StartIcon="@Icons.Material.Filled.Delete" OnClick="@OpenDialog"></MudFab>
    </div>
</div>



