@page "/workday/{WorkDayId:int}"
@using global::MediatR
@using WorkTimer.Domain.Models
@inject IMediator Mediator
@inject NavigationManager Navi;
@attribute [Authorize]

<MudText Typo="Typo.h4">Work day details for @Model.WorkDay?.Date.DayOfWeek @Model.WorkDay?.Date.ToString("dd.MM.yyyy")</MudText>

<EditForm class="d-flex flex-column gap-5 mb-4" Model="@Model.WorkDay" OnValidSubmit="HandleValidSubmitAsync">
  <DataAnnotationsValidator />
  <ValidationSummary />

  <div class="d-flex flex-row gap-4 my-5">
    <MudSelect T="WorkDayType" Class="mx-3" Label="Work day type" @bind-Value="Model.WorkDay.WorkDayType">
      @foreach (var workdayType in WorkDayTypes)
      {
        <MudSelectItem Value="@workdayType">@workdayType</MudSelectItem>
      }
    </MudSelect>

    <MudSelect T="int" @bind-Value="Model.WorkDay.ContractId" Class="mx-3" Label="Contract">
      @foreach (var item in Model.Contracts)
      {
        <MudSelectItem Value="item.Id">
          <span>@item.Name</span>
        </MudSelectItem>
      }
    </MudSelect>
  </div>

  <div class="d-flex flex-row">
    <div class="flex-grow-1"></div>
    <MudButton Color="@Color.Primary" Variant="Variant.Filled" ButtonType="ButtonType.Submit">Save</MudButton>
  </div>
</EditForm>

<div class="fixed-delete-button">
  <MudFab Color="Color.Error" StartIcon="@Icons.Material.Filled.Delete" OnClick="@OpenDialog">Delete</MudFab>
</div>

<MudTable @ref="_table" Items="Model.WorkingPeriods" Dense="true" Striped="true" Hover="true" RowsPerPage="20" Breakpoint="Breakpoint.Sm" LoadingProgressColor="Color.Info">
  <HeaderContent>
    <MudTh>Id</MudTh>
    <MudTh>Start Time</MudTh>
    <MudTh>End Time</MudTh>
    <MudTh>Length</MudTh>
    <MudTh>Comment</MudTh>
    <MudTh>Edit</MudTh>
  </HeaderContent>
  <RowTemplate>
    <MudTd DataLabel="Id">@context.Id</MudTd>
    <MudTd DataLabel="Start Time">@context.StartTime.ToString()</MudTd>
    <MudTd DataLabel="End Time">@context.EndTime.ToString()</MudTd>
    <MudTd DataLabel="Length">@context.GetWorkTime().ToTimeString()</MudTd>
    <MudTd DataLabel="Comment">@context.Comment</MudTd>
    <MudTd DataLabel="Edit">
      <MudIconButton Icon="@Icons.Material.Filled.Edit" Size="Size.Small" Href="@($"workday/{context.WorkDayId}/workperiod/{context.Id}")"></MudIconButton>
    </MudTd>
  </RowTemplate>
</MudTable>


